.champion_0 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/0.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_1 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/1.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_2 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/2.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_3 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/3.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_4 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/4.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_5 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/5.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_6 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/6.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_7 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/7.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_8 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/8.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_9 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/9.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_10 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/10.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_11 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/11.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_12 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/12.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_13 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/13.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_14 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/14.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_15 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/15.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_16 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/16.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_17 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/17.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_18 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/18.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_19 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/19.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_20 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/20.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_21 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/21.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_22 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/22.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_23 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/23.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_24 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/24.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_25 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/25.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_26 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/26.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_27 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/27.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_28 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/28.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_29 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/29.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}.champion_30 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/30.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_31 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/31.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_32 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/32.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_33 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/33.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_34 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/34.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_35 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/35.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_36 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/36.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_37 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/37.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_38 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/38.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_39 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/39.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_40 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/40.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_41 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/41.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_42 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/42.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_43 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/43.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_44 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/44.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_45 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/45.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_48 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/48.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_50 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/50.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_51 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/51.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_53 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/53.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_54 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/54.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_55 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/55.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_56 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/56.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_57 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/57.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_58 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/58.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_59 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/59.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_60 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/60.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_61 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/61.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_62 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/62.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_63 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/63.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_64 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/64.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_67 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/67.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_68 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/68.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_69 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/69.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_72 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/72.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_74 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/74.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_75 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/75.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_76 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/76.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_77 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/77.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_78 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/78.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_79 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/79.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_80 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/80.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_81 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/81.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_82 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/82.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_83 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/83.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_84 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/84.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_85 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/85.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_86 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/86.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_89 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/89.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_90 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/90.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_91 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/91.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_92 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/92.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_96 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/96.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_98 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/98.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_99 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/99.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_101 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/101.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_102 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/102.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_103 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/103.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_104 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/104.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_105 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/105.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_106 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/106.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_107 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/107.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_110 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/110.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_111 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/111.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_112 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/112.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_113 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/113.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_114 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/114.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_115 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/115.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_117 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/117.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_119 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/119.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_120 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/120.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_121 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/121.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_122 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/122.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_126 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/126.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_127 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/127.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_131 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/131.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_133 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/133.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_134 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/134.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_136 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/136.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_141 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/141.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_142 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/142.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_143 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/143.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_145 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/145.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_150 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/150.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_154 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/154.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_157 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/157.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_161 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/161.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_163 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/163.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_164 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/164.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_201 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/201.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_202 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/202.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_203 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/203.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_222 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/222.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_223 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/223.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_236 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/236.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_238 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/238.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_240 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/240.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_245 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/245.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_246 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/246.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_254 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/254.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_266 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/266.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_267 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/267.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_268 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/268.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_350 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/350.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_412 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/412.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_420 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/420.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_421 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/421.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_427 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/427.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_429 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/429.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_432 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/432.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_497 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/497.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_498 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/498.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_516 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/516.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_517 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/517.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_518 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/518.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
.champion_555 {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/champion-icons/555.png);
  background-repeat: no-repeat;
  width: 50px;
  float: right;
  height: 50px;
  background-size: 50px;
}
